@import 'leaflet/dist/leaflet.css';

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(51, 65, 85);
}

.swiper-button-next:after,
.swiper-button-next:after {
  color: rgb(234 179 8);
}

.swiper-button-prev:after,
.swiper-button-prev:after {
  color: rgb(234 179 8);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: rgb(234 179 8) !important;
}

.dropdown button {
  background-color: rgb(71 85 105);
  min-width: 100px;
  width: max-content;
  height: 42px;
  border-color: #eab308;
  border-radius: 50px;
  color: #eab308;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #eab308;
  cursor: pointer;
  justify-content: space-evenly;
  font-family: sans-serif;
}
.dropdown button img {
  margin: 0 5px 0 0;
}
.dropdown button img,
.dropdown-content li img {
  width: 28px;
}
.dropdown button,
.dropdown-content li {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.arrow-down {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #eab308 transparent transparent transparent;
  margin: 0 0 0 5px;
}

.dropdown button:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 1px 0 0 0;
  padding: 0;
  background-color: rgb(71 85 105);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow-y: scroll;
  max-height: 315px;
}

.dropdown-content li {
  color: #eab308;
  padding: 12px 16px;
  text-decoration: none;
  justify-content: end;
  text-transform: capitalize;
}
.dropdown-content li img {
  margin: 0 20px 0px 20px;
}

.dropdown-content li:hover {
  text-decoration: #eab308;
  text-shadow: 0 0 6px rgba(234, 179, 8, 0.5);
  cursor: pointer;
  color: #eab308;
  border-radius: 5px;
}

.dropdown:focus-within .dropdown-content {
  display: block;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.dropdown-content {
  animation: slideIn 0.3s ease-out;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #4a5568;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.dropdown button,
.dropdown-content li {
  font-family: 'Noto Serif', serif;
  font-size: 13px;
}
